<div class="auth-box border-top ">
      <form
        class="form-horizontal mt-3 "
        id="loginform"
        action="index.html"
      >
        <div class="row align-items-center">
          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-success text-white h-100"
                        id="basic-addon1"
                      ><i class="mdi mdi-account fs-4"></i
                      ></span>
              </div>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Login"
                aria-label="Username"
                aria-describedby="basic-addon1"
                required=""
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-warning text-white h-100"
                        id="basic-addon2"
                      ><i class="mdi mdi-lock fs-4"></i
                      ></span>
              </div>
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Senha"
                aria-label="Password"
                aria-describedby="basic-addon1"
                required=""
              />
            </div>
            <button
              class="btn btn-success float-end text-white"
              type="submit"
            >
              Login
            </button>
          </div>
        </div>


      </form>

    <!-- Form -->



</div>
