<mat-toolbar color="primary">
  <span>Plantão App</span>
</mat-toolbar>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active">
        <a

          routerLink="plantoes"
        >
          <i class="me-2 mdi mdi-calendar-multiple-check"></i>Meus Plantões</a>
      </li>
      <li routerLinkActive="active">
        <a
          routerLink="portarias"><i class="me-2 mdi mdi-file-multiple"></i>Portarias</a>
      </li>
      <li routerLinkActive="active">
        <a

          routerLink="juizes"
        ><i class="me-2 mdi mdi-account-multiple"></i>Juízes</a>
      </li>
      <li routerLinkActive="active">
        <a

          routerLink="login"
        ><i class="me-2 mdi mdi-login"></i
        >Login</a>
      </li>
      <li>
        <a

          routerLink="/"
        ><i class="me-2 mdi mdi-logout"></i
        >Logout</a>
      </li>

    </ul>


  </div>
</nav>
